:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-image: url("/pumpkinImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -250px top;
  background-attachment: fixed;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}

@media (min-width: 667px) and (max-width: 1024px){
  html {  background-position: -400px top;}
}
@media (min-width: 1025px){
  html { background-position: center top; }
}